* {
	font-family: 'Signika Negative', sans-serif;
	font-weight: 100;
}

.nav__responsive-ul {
	display: none;
}

.nav {
	background-color: #A58686;
}

.nav__li {
	display: inline-block;
	padding: 12px;
	color: #000000;
}

.nav__li:hover > a {
	color: #D5D5D5;
}

.nav__li:hover {
	color: #D5D5D5;
}

.nav__li a {
	color: #292929;
	text-decoration: none;
}

.nav__li i {
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}

.nav__responsive-button {
	float: right;
	font-size: 26px;
	padding: 6px 20px;
}

@media only screen and (max-width: 585px) {
	.nav__ul {
		display: none;
	}

	.nav__responsive-ul {
		display: block;
		position: absolute;
		width: 100%;
		background-color: #DEC6C6;
		height: 100%;
	}

}	



.nav__li-about:hover > a {
	color: #3D3D3D;
}

.nav__li-about:hover {
	color: #3D3D3D;
}

.about {
	font-family: 'Signika Negative', sans-serif;
}

.grid-container {
	display: grid;
}
